
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fontMuseoModerno: 'Museomoderno', sans-serif;
    --fontInter: 'Inter', sans-serif;
}
body{
    font-family: var(--fontInter);
    background-color: #f6f6f6;
}

/* Header */

.header{
    width:100%;
    height:auto;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:15px 0px 15px 0px;
    border-bottom: 1px solid #ffffff;
    z-index: 99;
}
.header .menu{
    width:97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}
.header .menu .navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin:auto;
}
.header .menu .navbar ul li{
    list-style-type: none;
}
.header .menu .navbar ul li .item{
    text-decoration: none;
    color:#000000;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 10px;
    transition: 0.3s ease-in-out;
}
.header .menu .navbar ul li .item:hover{
    color:#266dd3;
}
.header .menu .cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    text-decoration: none;
}
.header .menu .cta .ctaDemo,
.header .menu .cta .ctaAccount{
    text-decoration: none;
    padding:10px;
    background-color: #266dd3;
    border-radius: 10px;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #266dd3;
    transition: 0.3s ease-in-out;
}
.header .menu .cta .ctaDemo:hover{
    color: black;
    background-color: transparent;
    border: 2px solid #000000;
}
.header .menu .cta .ctaAccount{
    color: black;
    background-color: transparent;
    border: 2px solid #000000;
}
.header .menu .cta .ctaAccount:hover{
    color: white;
    background-color: #266dd3;
    border: 2px solid #266dd3;
}

/* Hero Section */

.mainContainer{
    width:100%;
    height:auto;
    overflow: hidden;
    background-image: url("img/BackgroundColorHeroSection.webp");
    background-position:top ;
    background-repeat: no-repeat;
    background-size:cover;
}
.mainContainer .heroSection{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:75px auto;
    padding: 100px 0px;
    position: relative;
    transform:translateX(8%);
}
.mainContainer .heroSection .info{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:15px ;
    overflow: hidden;
}
.mainContainer .heroSection .info .title{
    width:100%;
    color:#000000;
    font-size: 48px;
    font-weight: 500;
    line-height: 70px;
    font-family: var(--fontMuseoModerno);
}
.mainContainer .heroSection .info .paragraph{
    font-size: 24px;
    color:#575757;
    font-family: var(--fontInter);
}
.mainContainer .heroSection .info .ctaMain{
    width:fit-content;
    font-family: var(--fontInter);
    color:white;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #266dd3;
    border: 2px solid #266dd3;
    transition: 0.3s ease-in-out;
}
.mainContainer .heroSection .info .ctaMain:hover{
    color: black;
    background-color: transparent;
    border: 2px solid #000000;
}
.mainContainer .heroSection .shadowArticles{
    width:40%;
    position: absolute;
    top:5%;
    right: 20%;
    display: grid;
    grid-template-areas:
    "pic1 pic2 pic3"
    "pic4 pic5 pic6"
    "pic7 pic8 pic9";
    gap:10px;
    z-index: -1;
    opacity:0.3;
}
.mainContainer .heroSection .shadowArticles:nth-child(1){
    grid-area: pic1;
}
.mainContainer .heroSection .shadowArticles:nth-child(2){
    grid-area: pic2;
}
.mainContainer .heroSection .shadowArticles:nth-child(3){
    grid-area: pic3;
}
.mainContainer .heroSection .shadowArticles:nth-child(4){
    grid-area: pic4;
}
.mainContainer .heroSection .shadowArticles:nth-child(5){
    grid-area: pic5;
}
.mainContainer .heroSection .shadowArticles:nth-child(6){
    grid-area: pic6;
}
.mainContainer .heroSection .shadowArticles:nth-child(7){
    grid-area: pic7;
}
.mainContainer .heroSection .shadowArticles:nth-child(8){
    grid-area: pic8;
}
.mainContainer .heroSection .shadowArticles:nth-child(9){
    grid-area: pic9;
}
.mainContainer .heroSection .laptop{
    transform:translateX(7%);
}
.mainContainer .heroSection .laptop .laptopHeroSection{
    width:auto;
}

/* TeamWork */

.mainContainer .teamWork{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
    position: relative;
    transform:translateX(1.5%);
}
.mainContainer .teamWork .team{
    border-radius: 20px;
    /* filter:grayscale(40%); */
}
.mainContainer .teamWork div{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-right: 40px;
    padding:0px 70px
}

.mainContainer .teamWork div .titleSection{
    font-family: var(--fontMuseoModerno);
    color:#000000;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.mainContainer .teamWork div .paragraph{
    font-family: var(--fontInter);
    color:#525252;
    font-size: 18px;
    font-weight: 500;
}
.mainContainer .teamWork .spot{
    position: absolute;
    top:0;
    right:0;
    z-index: -1;
}

/* Services */

.mainContainer .services{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 100px 100px;
}
.mainContainer .services div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.mainContainer .services div .titleSection{
    font-family: var(--fontMuseoModerno);
    color:#000000;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.mainContainer .services div .paragraph{
    font-family: var(--fontInter);
    color:#525252;
    font-size: 18px;
    font-weight: 500;
}
.mainContainer .services .images{
    height:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    transform: translateX(100px);
}
.mainContainer .services .images .servicesItem{
    border-radius: 10px;
    cursor: pointer;
    transition:0.3s ease-in-out;
}
.mainContainer .services .images .servicesItem:hover{
    box-shadow: 1px 1px 8px 2px #afafaf;
}

/* Testimonies */

.mainContainer .testimonies{
    width:97%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    padding: 0px 0px 100px 0px;
    gap:30px;
    overflow: hidden;
}
.mainContainer .testimonies .infoTestimonies{
    width:50%;
    display: flex;
    flex-direction: column;
    align-self: self-end;
    gap:20px;
}
.mainContainer .testimonies .infoTestimonies .titleSection{
    font-family: var(--fontMuseoModerno);
    color:#000000;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}
.mainContainer .testimonies .infoTestimonies .paragraph{
    font-family: var(--fontInter);
    color:#525252;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.mainContainer .testimonies .cards{
    height:auto;
    display: flex;
    flex-direction: row;
    gap:20px ;
    transition: transform 0.5s ease;
}
.mainContainer .testimonies .cards .card{
    width:auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: flex-start;
    padding:30px;
    gap:30px;
}
.mainContainer .testimonies .cards .card:nth-child(1){
    background-color: #d2c4fc;
}
.mainContainer .testimonies .cards .card:nth-child(2){
    background-color:#ffd9a2 ;
}
.mainContainer .testimonies .cards .card:nth-child(3){
    background-color: #ffc7d6;
}
.mainContainer .testimonies .cards .card:nth-child(4){
    background-color: #c5ecfd;
}
.mainContainer .testimonies .cards .card:nth-child(5){
    background-color: #d2c4fc;
}
.mainContainer .testimonies .cards .card:nth-child(6){
    background-color: #ffd9a2;
}
.mainContainer .testimonies .cards .card:nth-child(7){
    background-color: #ffc7d6;
}
.mainContainer .testimonies .cards .card .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:50px;
}
.mainContainer .testimonies .cards .card .top .infoTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
}
.mainContainer .testimonies .cards .card .top .infoTop .infoClient{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5px;
    color:#5a5a5a;
    font-size: 12px;
    font-weight: 600;
}
.mainContainer .testimonies .cards .card .medium{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
    color:#000000;
    font-size: 16px;
    font-weight: 700;
}
.mainContainer .testimonies .cards .card .medium .infoCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#7e7e7e;
    font-size: 16px;
    font-weight: 500;
}
.mainContainer .testimonies .arrows{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.mainContainer .testimonies .arrows .arrow{
    width:3%;
    border: 1px solid #b8b8b8;
    padding: 5px;
    border-radius: 5px;
    transition:0.3s ease-in-out;
    cursor: pointer;
}
.mainContainer .testimonies .arrows .arrow:hover{
    background-color:#e7e7e7 ;
    border: 1px solid #ffffff;
}

/* Calender */

.mainContainer .calender{
    width:97%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding: 0px 0px 100px 0px;
    gap:50px;
    overflow: hidden;

}
.mainContainer .calender .titleSection{
    width:50%;
    font-family: var(--fontMuseoModerno);
    color:#000000;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}
.mainContainer .calender div{
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    gap:50px;
}
.mainContainer .calender div .calenderDivise{
    filter:drop-shadow(1px 1px 4px rgb(197, 197, 197));
}

.mainContainer .calender .cta{
    width:fit-content;
    font-family: var(--fontInter);
    color:white;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #266dd3;
    border: 2px solid #266dd3;
    transition: 0.3s ease-in-out;
}
.mainContainer .calender .cta:hover{
    color: black;
    background-color: transparent;
    border: 2px solid #000000;
}

/* Footer */

.footer{
    width:97%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding: 100px 0px 20px 0px;
    gap:40px;
    overflow: hidden;
    border-top: 1px solid #ffffff;
}
.footer .footerTop{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .footerTop ul{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.footer .footerTop ul li{
    list-style-type: none;
}
.footer .footerTop ul li .item{
    text-decoration: none;
    color:#666666;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.footer .footerTop ul li .item:hover{
    text-decoration: underline;
    color:#266dd3;
}
.footer .footerTop .newsletter{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.footer .footerTop .newsletter .formInscription{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.footer .footerTop .newsletter .formInscription .paragraph{
    text-decoration: underline;
    color:#000000;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.footer .footerTop .newsletter .formInscription .inscription label,
.footer .footerTop .newsletter .formInscription .inscription input{
    width:100%;
}
.footer .footerTop .newsletter .formInscription .inscription input{
    padding: 10px;
    color:#c9c9c9;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--fontInter);
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    transition:0.3s ease-in-out;
}
.footer .footerTop .newsletter .formInscription .inscription input:hover{
    border: 2px solid #266dd3;
}
.footer .footerTop .newsletter .formInscription .action{
    width:100%;
    padding: 10px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
    background-color: #266dd3;
    border: 2px solid #266dd3;
    border-radius: 10px;
    transition:0.3s ease-in-out;
}
.footer .footerTop .newsletter .formInscription .action:hover{
    color:#000000;
    background-color: transparent;
    border: 2px solid #000000;
}
.footer .footerBottom{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin:auto;
    background-image: url("img/BackgroundFooter.webp");
    background-position:100% ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 15px;
    border-radius: 20px;
}
.footer .footerBottom .copy{
    width: 100%;
    height:auto;
    display: flex;
    align-self: center;
}
.footer .footerBottom .copy .copyRight{
    color:#000000;
    font-size: 10px;
    font-weight: 600;
    font-family: var(--fontMuseoModerno);
}
.footer .footerBottom .socialMediaIcons{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
    gap:30px;
    margin:auto;
}
.footer .footerBottom .socialMediaIcons .right{
    height:auto;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.footer .footerBottom .socialMediaIcons .right .socialMedia{
    width:24px;
    cursor: pointer;
}
.footer .footerBottom .socialMediaIcons .left{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap:30px;
}
.footer .footerBottom .socialMediaIcons .left a{
    color:#000000;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.footer .footerBottom .socialMediaIcons .left a:hover{
    text-decoration: underline;
}

